@font-face {
	font-family: 'Conv_GHEAGrpalatReg';
	src: url('../fonts/GHEAGrpalatReg.eot');
	src: local('☺'), url('../fonts/GHEAGrpalatReg.woff') format('woff'), url('../fonts/GHEAGrpalatReg.ttf') format('truetype'), url('fonts/GHEAGrpalatReg.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
* {
	box-sizing:border-box
}


.content{
	-webkit-box-shadow: 0 0 14px -6px rgba(147,147,150,1);
	-moz-box-shadow: 0 0 14px -6px rgba(147,147,150,1);
	box-shadow: 0 0 14px -6px rgba(147,147,150,1);
	border-radius: 10px;
}
body{
	font-family: 'Conv_GHEAGrpalatReg';
}
.clearfix:after {
	clear: both;
	display: block;
	content: '';
}
.header{
	width: 100%;
	background-color: #3da08b;
	z-index: 100;
	position: sticky;
}
.header .row{
	margin-right: 0;
    margin-left: 0;
}
.number{
	color: #f0f8ff;
	font-size: 14px;
	float: left;
    display: block;
    text-align: right;
	margin-top: 10px;
	margin-left: -17px;
}
.number span img{
	width: 20px;
	height: 20px;
}
.right{
	display: inline-block;
	float: right;

}
.icons{
	float: left;
    margin: 10px 15px;
}
.facebook i,.linkedin i,.youtube i{
	width: 18px;
	height: 18px;
    color: white;
}
.header-sprt{
	float: left;
    width: 1px;
    height: 20px;
    margin-top: 8px;
    background-color: white;
}
.language {
	display: inline-block;
}
.language {
	height: 25px;
    margin-right: 75px;
	list-style-type: none;

}
.language a:not(:first-child){
	font-size: 12px;
	color: white;
	display: inline-block;
	margin-top: 11px;
}
.ru{
	margin-left: 15px;
	margin-right: 15px;
}
.arm{
	font-size: 12px;
	display: inline-block;
	margin-left: 6px;
	margin-top: 11px;
	color: #004a63;
}
.last{
	/*height: 20px;*/
	float: right;
    margin-top: -20px;
	position: absolute;
    top: 25px;
    right: 5px;
}
.search, .location{
	display: inline-block;
}
.search i {
    font-size: 25px;
    padding-right: 10px;
    margin-right: 15px;
    border-right: white solid 1px;
}
.location i {
    font-size: 26px;
}
/*.search img{
	width: 33px;
	height: 22px;
	padding-right: 3px;
	padding-left: 4px;
	border-left: 1px solid white;
	border-right: 1px solid white;
}*/

.location img{
	width: 20px;
	height: 25px;
}


.container{
	/*padding-left: 0;
	padding-right: 0;
*/}


.square{
	min-height: 600px;
	background-color: #414042;
	display: none;
}

/*.square:hover,
.square:focus {
	overflow-y: scroll;
	height: 100%;
	background-color: red;
}*/

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fadeInDown {
  animation-name: fadeInDown;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}


.mainMenu{
	z-index: 99;
	/*position: fixed;*/
	display: block;
	/*padding-top: 35px;*/
	padding-left: 15px;

}

.menu-static-top{
	position: absolute;
}
.menu-fixed-top{
	position: fixed;
	top: 0;
	z-index: 100;
    overflow-y:scroll;
    overflow-x:hidden;
}

.closeMenu{
	color: #fff;
	font-size: 50px;
	cursor: pointer;
}
.shortMenu p {
	text-transform: uppercase;
	color: #a3d39c;
	font-size: 15px;
	font-weight: bold;
}
.shortMenu ul{
	list-style-type: none;
	color: white;
	padding-left: 0;
	line-height: 2;
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
}

.shortMenu ul li:hover{
	background-color: #a3d39c;
	color: #414042;
}
.br {
	line-height: 1.5;
}
.TopNav{
	padding-left: 0;
}
.navbar-static-top{
	margin-top: 20px;
	margin-bottom: 20px;
}
.navbar-fixed-top{
	margin-bottom: 20px;
	background-color: white;
	border-bottom: #e4e4e4 solid 1px;
}
.navbar-fixed-top .row{
	max-width: 1050px;
	margin: 0 auto;
	height: 55px;
}
.navbar-fixed-top .navimg{
	padding-left: 0;
}
.navbox{
	padding-right: 0;
	padding-left: 0;
}
.box{
	float: right;
	position: relative;
	width: 100%;
	margin: 0;
}

.upperlogo{
	/*width: 100%;*/
	max-width: 100%;
	padding-left: 0;
}
.navdiv{
	padding-left: 0;
	padding-right: 0;
	border-right: solid 1px #898989;
	margin-top: 5px;
	height: 50px;
}
.navdiv3{
	padding-left: 0;
	padding-right: 0;
	border-right: solid 1px #898989;
	margin-top: 5px;
	height: 50px;
}
.navdiv4{
	padding-left: 0;
	padding-right: 0;
	border-right: solid 1px #898989;
	margin-top: 5px;
	height: 50px;
}
.innavdiv{
	/*float:left;*/
	margin: 5px 0 5px 10px;
	font-size: 12px;
	color: #004a63;
	font-weight: bold;
	max-width: 125px
}
.img{
	width: 30px;
	float: left;
}
.img4{
	width: 35px;
}
.burgerbar{
	background: url(../image/ShortMenu.png) no-repeat 14px;
	cursor: pointer;
	width: 63px;
	height: 44px;
	float: right;
}

.containerrows{
	margin: auto;
}

.grad1{
	background: linear-gradient(#6edad6, #1dbcb5);
	float: left;
	height: 78px;
	width: 100%;
}

.grad2{
	background: linear-gradient(rgb(107, 182, 167), rgb(62, 160, 139));
	height: 78px;
	width: 100%;
	float: left;
}

.grad3{
	background: linear-gradient(#197c62, #036249);
	height: 78px;
	width: 100%;
	float: left;
}

.grad1:hover
{
	background-color: -webkit-linear-gradient(#1cbbb4, #1cbbb4); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#1cbbb4, #1cbbb4); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#1cbbb4, #1cbbb4); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#1cbbb4, #1cbbb4); /* Standard syntax */

}
.grad2:hover
{
	background-color: -webkit-linear-gradient(#3da08b, #3da08b); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#3da08b, #3da08b); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#3da08b, #3da08b); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#3da08b, #3da08b); /* Standard syntax */
}
.grad3:hover
{
	background: -webkit-linear-gradient(#00746b, #00746b); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#00746b, #00746b); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#00746b, #00746b); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#00746b, #00746b); /* Standard syntax */
}
.top_button{
	display: block;
	height: 60px;
	padding-left: 28px;
	padding-top: 18px;
	color: White;
	text-align: left;
	/*font-family: "GHEA Grapalat";*/
	font-size: 19px;
	line-height: 22px;
	width: 95%;
}
.top_button:hover{
	color: white;
	text-decoration: none;
	cursor:pointer;
}
p {
	margin: 0 0 2px;
}




/*!* Slideshow container *!
.slideshow-container {
	margin: auto;
	!*position: relative;
	margin: auto;*!
}

!* Hide the images by default *!
.mySlides {
	display: none;
}

!* Fading animation *!
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 13.5s;
	animation-name: fade;
	animation-duration: 13.5s;
}

@-webkit-keyframes fade {
	from {opacity: .9}
	to {opacity: 1}
}

@keyframes fade {
	from {opacity: .9}
	to {opacity: 1}
}*/
.slider{
	position: relative;
}
.controls{
	position: absolute;
	width: 100%;
	top: 50%;
	height: auto;
	pointer-events: none;
	z-index: 2;
}
.arrowleft, .arrowright{
	position: absolute;
	transform: translateY(-50%) scale(1);
	transition: transform 0.1s ease-out;
}

.arrowleft:hover, .arrowright:hover{
	transform: translateY(-50%) scale(1.1);
}
.arrowright{
	right: 10px;
	pointer-events: auto;
}
.arrowleft{
	left: 10px;
	pointer-events: auto;
}
.Services{
	margin: auto;
    /* width: 100px; */
}

.serviceone, .servicetwo,.servicethree{
    width: 320px;
    /* height: 300px; */
    margin-top: 70px;
    /*margin-right: 20px;*/
    color: #58595b;
    padding-left: 20px;
}

/*
@media screen and (min-width : 360px) and (max-width: 710px){
    .serviceone, .servicetwo,.servicethree {
        margin: 30px 60px;
    }
}*/


/*.serviceone{
	margin-left: 20px;
}*/
.serviceone p{
    font-size: 25px;
}
.serviceone sub, .servicetwo sub{
    font-size: 15px;
}
.serviceone div img{
    position: absolute;
    top: 0;
    right: 20px;
    float: right;
}

.network{
	margin-top: 20px;
}
.NetworkServ a {
    color: #6d7073;
    font-weight: normal;
    font-size: 14px;
    clear: both;
}
.NerworkServ a:link, .NerworkServ a:visited {
    font-size: 12px;
    text-decoration: none;
    font-weight: 700;
    color: #0E4352;
}


.button{
	border: none;
	width: 90px;
    height: 30px;
    font-size: 15px;
    line-height: 1.5;
    text-align: center;
    margin-left: 13px;
    margin-top: 45px;
    color: white;
    font-style: bold;
    background: -webkit-linear-gradient(#de3e5d, #c82747);
    background: -o-linear-gradient(#de3e5d, #c82747);
    background: -moz-linear-gradient(#de3e5d, #c82747);
    background: linear-gradient(#de3e5d, #c82747);
}

.servicetwo div p{
	font-size: 25px;
	line-height: 1.3;
}
 .new{
	/* float:right; */
	font-size: 15px;
	width: 85px;
	height: 30px;
	background-color: #dd3d5c;
	color: white;
	text-align: center;
	padding-top: 3px;
	margin-top: 5px;
} 
.servicetwo div img{
	float: right; 
	width: 60px;
}
.iblock{
	display:inline-block;
	vertical-align: top;
}
.form{
	margin-top: 39px;
}
.Forms{
	width: 275px;
    float: left;
    text-align: left;
    margin-top: 8px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 8px;
    padding-bottom: 5px;
    background: -webkit-linear-gradient(#72a418, #5c8f02);
    border-radius: 3px; 
}
.Forms a{
	color: white;
    font-size: 15px;
}
.Forms a:hover{
    text-decoration: none;
}
.servicethree div p {
	font-size: 25px;
}

.servicethree img{
	float: right;
}
input[type="checkbox"]{
	display: none;
}

input[type="checkbox"] + span:before {
	content: url(../image/uncheck.PNG);
	margin-right: 8px;
	width: 50px;
}
input[type="checkbox"]:checked + span:before {
	content: url(../image/check.PNG);
	margin-right: 8px;
	width: 50px;
}

.uncheck{
	font-size: 13px;
	vertical-align: top;
}

.check{
	font-size: 13px;
	vertical-align: top;
	color: #72bf44;
}
.exchange{
	width: 275px;
	height: 140px;
	margin-bottom: 30px;
}
.exchange tr{
	text-align: center;
}
.exchange tr .first{
	border-right: 0.5px #dbdbdb solid;
}
.exchange tr:not(:first-child){
	border-top: 0.5px #dbdbdb solid;
}
.servicethree sub{
	padding: 25px;
}
.buttons{
	display: inline-block;
	width: 160px;
    float: left;
    margin-top: 8px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    background: -webkit-linear-gradient(#72a418, #5c8f02);
    color: white;
    text-align: center;
}
.buttons:first-child{
	width: 100px;
	margin-right: 15px;
}
.buttonsbox{
	display: inline-block;
	width: 275px;
	height: 34px;
}
.AdvPremControl{
	margin-top: 80px;
}
.carousel-indicators {
	text-align: right;
	float: right;
	right: 2% !important;
	left: inherit;
	bottom: -5px;
}
.carousel-indicators .active{
	background-color: #72be44;
	border: none;
}
.carousel-indicators li{
	background-color: #cccccc;
	border: none;
}
.news{
	margin-top: 40px;
}

.greenblock p{
	display: inline-block;
	height: 35px;
	position: relative;
	bottom: 10px;
	font-size: 12pt;
	font-family: "GHEA Grapalat";
	color: #0E4352;
	font-weight: bold;
}
.greenblock div{
	width: 15px;
	height: 33px;
	background-color:#72bf44;
	display: inline-block;
}
.fullDate {
	width: 30%;
    float: left;
    margin-bottom: 15px;
}
.fullDatefirst{
	width: 30%;
	float: left;
	padding-left: 20px
}
.news .date, .news .mount{
	 display: inline-block;
}
.NewsText{
	width: calc(100% - 30px);
	color: #6d7073;
	font-size: 12px;
	font-weight: normal;
}
.date{
	color: #72BE44;
	letter-spacing: 1px;
	font-size: 30px;
}
.mount{
color: #004a63;
letter-spacing: 1px;
font: 700 15px GHHEA Grapalat;
padding-right: 10px;
vertical-align: top;
}
.nbtn{
	margin-top: 40px;
	margin-bottom: 20px;
	display: inline-block;
	float: right;
}
.nbtn a{
	position: relative;
	left: -45px;
	color: #0E4352;
}
.line{
	background-color: #72be44;
	display: block;
	height: 42px;
	width: 100%;
	position: relative;
	margin-top: 20px;
}

.amerialogo{
	position: absolute;
    top: -64px;
    left: 0;
}

.footer{
	background-color: #414042;
	display: block;
	width: 100%;
	padding-bottom: 30px;
}
.foot{
	position: relative;
	padding-top: 30px;
}

.firstlist ul, .secondlist ul, .thirdlist ul{
	color: white;
	list-style-type: none;
	margin-left: -36px;
	padding: 17px 20px 0px 20px;
	min-height: 322px;
}
.firstlist a, .secondlist a p, .thirdlist a, .fourthlist p{
	color: white;
	font-size: 12px;
}
.firstlist a:hover, .secondlist a:hover, .thirdlist a:hover{
	text-decoration: none;
}
.firstlist li:not(:first-child), .secondlist li:not(:first-child){
	margin-left:6px;
}
.firstlist li:hover:not(:first-child), .secondlist li:hover:not(:first-child), .thirdlist li:hover:not(:first-child) {
	background-color: #72bf44;
}
.secondlist li:hover:last-child{
	background-color: transparent;
}
.firstlist li, .secondlist li, .thirdlist li{
	margin: 11px auto;
}

.help a img{
	text-align: left;
}
.help a p {
	display: inline-block;
	width: 65px;
	vertical-align: bottom;
}
.secondlist img{
	width: 60px;
	position: relative;
	top: 0;
	left: 0;
} 
h5{
    font-size: 13px;
    margin-bottom: 33px;
    color: rgb(255, 255, 255);
}
.fourthlist{
	padding-top: 17px;
}
/*.fourthlist ul .contacts{*/
	/*list-style-image: url(../image/Contacts.png);*/
/*}*/
.fourthlist .contacts,
.fourthlist .contactstel,
.fourthlist .contactsmail {
	position: relative;
	list-style-type: none;
	margin-bottom: 10px;

}
.fourthlist .contactsmail {
	padding-top: 5px;
}
.fourthlist .contacts:before,
.fourthlist .contactstel:before,
.fourthlist .contactsmail:before {
	content: "";
	position: absolute;
}

.fourthlist .contacts:before {
	width: 35px;
	height: 55px;
	top: 8px;
	left: -45px;
	background: url(../image/Contacts.png) no-repeat;
}
.fourthlist .contactstel:before {
	width: 35px;
	height: 35px;
	top: 20px;
	left: -45px;
	background: url(../image/ContactsTel.png) no-repeat;
}
.fourthlist .contactsmail:before {
	width: 35px;
	height: 35px;
	top: 0;
	left: -45px;
	background: url(../image/ContactsMail.png) no-repeat;
}

.fourthlist ul:first-child{
	list-style-type: none;

}
.fourthlist h5{
	margin-bottom: 25px;
	position: relative;
	left: -50px;
}
.socialicos div {
 background-color: #72bf44;
 width: 32px;
 height: 32px;
 text-align: center;
 vertical-align: middle;
 margin-top: 20px;
 display: inline-block;
 border-radius: 2px;
}

.socialicos div:hover
{
	background-color: #ffffff;
	width: 32px;
	height: 32px;
	text-align: center;
	vertical-align: middle;
	margin-top: 20px;
	display: inline-block;
	border-radius: 2px;
    color: black;
}

.lh{
	line-height: 2.5;
    color: white;
}
.socialicos div:hover a i{
    color: black;
}

.additional{
    margin-top: 20px;
    padding-left: 8px;
    margin-left: -4px;
    color: white;
    font-size: 12px;
}
.addtwo{
    font-style: italic;
    margin-top: -2px;
    font-size: 11px;
}
.copyright{
    margin-top: 20px;
    padding-left: 0;
    margin-left: 5px;
    color: white;
    font-size: 10px;
}
.conmap{
    margin-top: 20px;
}
.conmap a{

    color: white;
    font-size: 11px;
}
.conmap a:last-child{
    border-left: white solid 1px;
    padding-left: 3px;
}


@media screen and (min-width : 200px) and (max-width: 360px){
	.serviceone, .servicetwo,.servicethree{
		width: 100%;
		/*  height: 290px; */
		margin-top: 70px;
		margin-right: 17px;
	}

}

@media screen and (min-width: 200px) and (max-width: 407px){
	 .right{
		float: left;
		margin-left: -28px;
	 }
	 .language{
	 	margin-right: 0px;
	 }
}


@media screen and (min-width: 200px) and (max-width: 767px){
	.grad1, .grad2, .grad3{
		margin-bottom: 5px;
	}
	.innavdiv{
		font-size: 10px;
	}
	.navbar-fixed-top{
	 height: 165px;
	}

	.navdiv, .navdiv3, .navdiv4{
		border: none;
	}
	.navdiv5{
	 left: 32px;
	}
	.slider{
	margin: 0 15px;
	}
	.fullDate, .fullDatefirst{
	padding-left: 0;
	margin-bottom: 15px;

	}
	/*.navbar-fixed-top .navdiv5{
		padding-left: 32px;
    	padding-right: 47px;
	}*/
	
/*	.content{
		-webkit-box-shadow: 0 0 14px -6px rgba(147,147,150,1);
		-moz-box-shadow: 0 0 14px -6px rgba(147,147,150,1);
		box-shadow: 0 0 14px -6px rgba(147,147,150,1);
		border-radius: 10px;
		margin-right: 15px;
   		margin-left: 15px;
   		padding-left: 0;
   		padding-right: 0;
	}*/

}

@media screen and (min-width: 200px) and (max-width: 991px){
	.header .row, 
	.TopNav .row, 
	.content > .row,
	.containerrows .row{
		margin-right: 0;
		margin-left: 0;
	}
	.servicetwo, .servicethree{
    padding-left: 15px;
	}
}
@media screen and (min-width : 768px) and (max-width: 991px){

    .serviceone, .servicetwo,.servicethree{
        width: 295px;
       /*  height: 290px; */
        margin-top: 70px;
        margin-right: 17px;
    }
	.containerrowsleft{
		padding-right: 0;
		padding-left: 0;
	}
	.containerrowsmiddle{
		padding-left: 2.5px;
		padding-right: 2.5px;
	}
	.containerrowsright{
		padding-left: 0;
		padding-right: 0;
	}
	.content,
	.navimg,
	.navbox,
	.navbar{
		padding-right: 0;
		padding-left: 0;
	}
	.navdiv5{
		left: 50px;
	}
}

@media (min-width: 1200px){
	.container {
		width: 1050px;
	}
	.navdiv5{
		right: 0;
	}
	.navbox{
		padding-left: 63px;
	}
	.navbar-fixed-top .navdiv5{
		right: -26px;
	}
}
@media screen and (min-width: 1199px){
	.menu-fixed-top, .menu-static-top{
		width: 1048px;
	}
}
@media screen and (min-width: 991px) and (max-width: 1199px){
	.menu-fixed-top{
		width: 968px;
	}
}
@media screen and (min-width: 767px) and (max-width: 991px){
	.menu-fixed-top{
		width: 748px;
	}
	.square:hover,
	.square:focus {
	overflow-y: scroll;
	height: 100%;
	}
}
@media screen and (min-width: 320px) and (max-width: 767px){
	.menu-fixed-top{
		margin-right: 30px;
	}
	.menue-fixed-top div{
		border: none;
	}
	.square:hover,
	.square:focus {
	overflow-y: scroll;
	height: 100%;
	}
	.shortMenu ul{
		border: none !important;
	}
}
@media screen and (min-width : 992px) and (max-width: 2760px){
	.serviceone, .servicetwo{
		border-right: solid #6d7073 1px;
	}
	.servicetwo, .servicethree{
	padding-left: 15px;
	}
	.containerrowsleft{
		padding-right: 0;
	}
	.containerrowsmiddle{
		padding-left: 2.5px;
		padding-right: 2.5px;
	}
	.containerrowsright{
		padding-left: 0;
	}
	.container{
		padding-right: 0;
		padding-left: 0; 
	}
	.navbar-fixed-top .navdiv5{
		right: -15px;
	}

}